/* * {
    border: 1px solid black;
} */

header {
    background-color: #e90874;
    color: #6200a5;
    text-align: center;
    font-size: 40px;
}


.game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
    margin: 10px auto;
    border: 1px solid black;
}

.game-board * {
    border: 1px solid black;
}

footer {
    background-color: #e90874;
    color: #6200a5;
    text-align: center;
}

.restart-button {
    background-color: #6200a5;
    border: 0;
    padding: 5px;
}
